
    .p-header {
        text-align: center;
    }

    .p-header-text {
        display: inline-block;
        font-size: 27px;
    }

    .move { padding-right: 200px; }

    .p-header-badge-container { }

    .p-header-badge { padding-top: 5px; }


    .p-header-badge .badge {
        font-size: 10px;
        margin: -21px 0px 0px -3px;
    }

    .p-container { margin: 10px; }

                

    .speed-entry-button {
        font-size: 30px;
        margin-bottom: -10px;
    }

    .speed-entry-input {
        font-size: 12px;
        width: 90%;
    }

    .speed-entry-button-group {
        margin-top: 10px;
        width: 100%;
    }

    .speed-entry-input-topper { background-color: #ddd; }

    .action-cell {
        padding-right: 10px;
        width: 150px;
    }

    .first-cell {
        padding-left: 10px;
        width: 50px;
    }

    .selection-list { width: 100%; }

    .selection-list-container {
        padding-left: 25px;
        width: 100%;
    }

    body.shifted { overflow: hidden; }

    .menu-slider {
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -webkit-transition: -webkit-transform 0.3s;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: transform 0.3s;
        width: 100%;
        z-index: 200;
    }

    @media all and (min-width: 320px) {
        .menu-slider {
            -ms-transform: translateX(-250px);
            -webkit-transform: translateX(-250px);
            height: 100%;
            transform: translateX(-250px);
            width: 250px;
        }
    }


    .menu-slider.shifted {
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        height: 100%;
        transform: translateX(0);
        background-color: #efefef;
    }


    .main-content.shifted { background-color: green; }

    .p-wrapper {
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .p-wrapper.shifted {
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }


    @media all and (min-width: 320px) {
        .p-wrapper.shifted {
            -ms-transform: translateX(250px);
            -webkit-transform: translateX(250px);
            transform: translateX(250px);
        }
    }


    .p-mask {
        -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
        background-color: #000;
        height: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
        width: 0;
        z-index: 100;
    }



    .p-mask.shifted {
        -webkit-transition: opacity 0.3s;
        height: 100%;
        opacity: 0.7;
        transition: opacity 0.3s;
        width: 100%;
    }           
    .link-badge i { 
        font-size: 30px; 
    }
    .link-badge .badge {
        display: inline-block;
        margin: -35px 0px 0px -7px;
    }
    .link-badge div {
        display: inline-block;
    }
